{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bootsatrap-table/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock head_style %}

{% block headline %}Listado de Tipo de Clientes{% endblock headline %}


{% block content_content %}

    <table class="table table-bordered table-striped" data-toggle="table"
           data-pagination="true">
        <thead>
            <tr>
                <th>N°</th>
                <th data-field="Denominación" data-sortable="true">Denominación</th>
            </tr>
        </thead>
        <tbody>
        {% for clientType in clientTypes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ clientType.denomination }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content_content %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/locale/bootstrap-table-es-SP.min.js') }}"></script>

{% endblock foot_script %}