{% extends 'base.html.twig' %}

{% block headline %}{#{{ title }}#}{% endblock headline %}


{% block content_content %}
    <h1>Clienttype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clientType.id }}</td>
            </tr>
            <tr>
                <th>Denomination</th>
                <td>{{ clientType.denomination }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clienttype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clienttype_edit', { 'id': clientType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock content_content %}
