{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bootsatrap-table/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock head_style %}


{% block headline %}Listado de Ventas{% endblock headline %}


{% block content_content %}
    <table class="table table-bordered table-striped" data-toggle="table"
           data-search="true"
           data-pagination="true">
        <thead>
        <tr>
            <th>N°</th>
            <th data-field="Numero de Venta" data-sortable="true">Numero de Venta</th>
            <th data-field="Numero de RUC" data-sortable="true">Numero de RUC</th>
            <th data-field="Typo de Venta" data-sortable="true">Tipo de Venta</th>
            <th data-field="Fecha de Venta" data-sortable="true">feha de Venta</th>
            <th data-field="Total de la Venta" data-sortable="true">Total de la Venta</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ sale.numberRuc }}</td>
                <td>{{ sale.numberSale }}</td>
                <td>
                    {% if sale.typeSale == 'VC' %}
                        <span class="label label-success center-block">Venta Cliente</span>
                    {% elseif sale.typeSale == 'A' %}
                        <span class="label label-danger center-block">Auspicio</span>
                    {% endif %}
                </td>
                <td>{% if sale.createdAt %}{{ sale.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sale.totalSale }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('sale_show', { 'id': sale.id }) }}"> <i class="fa fa-eye"></i> Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content_content %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/locale/bootstrap-table-es-SP.min.js') }}"></script>

{% endblock foot_script %}
