{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <style>
        label{
            text-align: left !important;
        }
    </style>

{% endblock head_style %}

{% block headline %}Nueva Venta{% endblock headline %}


{% block content_content %}

    {{ form_start(form) }}
    <div class="box box-primary bottom-container" >
        <div class="form-conteiner">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-goup">
                        {{ form_row(form.numberSale) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-goup">
                        {{ form_row(form.numberRuc) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-goup">
                        {{ form_row(form.client) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-goup">
                        {{ form_row(form.paymentMethod) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-goup">
                        {{ form_row(form.typeSale) }}
                    </div>
                </div>
            </div>
            <div class="form-goup">
                {{ form_row(form.numberSale) }}
            </div>
            {# Table for ProductSale #}
            <table class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th data-field="product" class="text-center">Producto</th>
                        <th data-field="amount" class="text-center">Cantidad</th>
                        <th data-field="price" class="text-center">Precio</th>
                        <th data-field="amountPrice" class="text-center">Cantidad x Precio</th>
                    </tr>
                </thead>
                <tbody class="productsale" data-prototype="
                        {% filter escape %}
                        <td width="60%" >{{ form_widget(form.productSales.vars.prototype.product|e ) }}</td>
                        <td width="10%" >{{ form_widget(form.productSales.vars.prototype.amount|e ) }}</td>
                        <td width="15%" >{{ form_widget(form.productSales.vars.prototype.price|e ) }}</td>
                        <td width="15%" >{{ form_widget(form.productSales.vars.prototype.amountPrice|e ) }}</td>
                        {% endfilter %}
                ">
                {% for productSale in form.productSales %}
                    <tr>
                        <td width="50%">{{ form_widget(productSale.product) }}</td>
                        <td width="10%">{{ form_widget(productSale.amount) }}</td>
                        <td width="15%">{{ form_widget(productSale.price) }}</td>
                        <td width="15%">{{ form_widget(productSale.amountPrice) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <button id="calular" type="button" class="btn btn-warning"><i class="fa fa-calculator" aria-hidden="true"></i> Calcular Total</button>
                    </div>
                    <hr>
                    <div class="row ">
                        <button id="vuelto" type="button" class="btn btn-info"><i class="fa fa-money" aria-hidden="true"></i> Calcular Vuelto</button>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="form-goup">
                        {{ form_row(form.totalSale) }}
                    </div>
                    <div class="form-goup">
                        {{ form_row(form.pay) }}
                    </div>
                    <div class="form-goup">
                        {{ form_row(form.turnedSale) }}
                    </div>

                </div>
            </div>


        </div>
    </div>
    <div class="well well-small form-actions">
        <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
    </div>
    {{ form_end(form) }}

{% endblock content_content %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/locale/bootstrap-table-es-SP.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/sale.js') }}"></script>

{% endblock foot_script %}