{% extends 'base.html.twig' %}

{% block headline %}Producto{% endblock headline %}


{% block content_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ sale.numberSale }}</h3>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">N° de RUC</div>
                    <div class="col-md-9">{{ sale.numberRuc }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Cliente</div>
                    <div class="col-md-9">{{ sale.client }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Tipo de Venta</div>
                    <div class="col-md-9">
                        {% if sale.typeSale == "VC" %}
                            Venta Cliente
                        {% endif %}
                        {% if sale.typeSale == "A" %}
                            Auspicio
                        {% endif %}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Metodo de Pago</div>
                    <div class="col-md-9">{{ sale.paymentMethod }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <table class="table table-bordered table-striped" >
                        <thead>
                        <tr>
                            <th data-field="product" class="text-center">Producto</th>
                            <th data-field="amount" class="text-center">Cantidad</th>
                            <th data-field="price" class="text-center">Precio</th>
                            <th data-field="amountPrice" class="text-center">Cantidad x Precio</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for productSale in sale.productSales %}
                            <tr>
                                <td width="50%">{{ productSale.product }}</td>
                                <td width="10%" align="center">{{ productSale.amount }}</td>
                                <td width="15%" align="center">{{ productSale.price }}</td>
                                <td width="15%" align="center">{{ productSale.amountPrice }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Total</div>
                    <div class="col-md-9">{{ sale.totalSale }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Total</div>
                    <div class="col-md-9">{{ sale.turnedSale }}</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="well well-small form-actions">
        <a class="btn btn-default btn-sm" href="{{ path('sale_index') }}"> <i class="fa fa-list"></i> Regresar al listado de Ventas</a>
    </div>

{% endblock content_content %}


{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/locale/bootstrap-table-es-SP.min.js') }}"></script>

{% endblock foot_script %}