{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productsales list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Amountprice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productSale in productSales %}
            <tr>
                <td><a href="{{ path('productsale_show', { 'id': productSale.id }) }}">{{ productSale.id }}</a></td>
                <td>{{ productSale.amount }}</td>
                <td>{{ productSale.price }}</td>
                <td>{{ productSale.amountPrice }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productsale_show', { 'id': productSale.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productsale_edit', { 'id': productSale.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productsale_new') }}">Create a new productSale</a>
        </li>
    </ul>
{% endblock %}
