{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productsale</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productSale.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ productSale.amount }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ productSale.price }}</td>
            </tr>
            <tr>
                <th>Amountprice</th>
                <td>{{ productSale.amountPrice }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productsale_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('productsale_edit', { 'id': productSale.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
