{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
	{% if object.typeSale == 'VC' %}
		<span class="label label-success center-block">Venta Cliente</span>
	{% elseif object.typeSale == 'A' %}
		<span class="label label-danger center-block">Auspicio</span>
	{% endif %}
{% endblock %}