{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
	{% if object.typeSale == 'VC' %}
		Venta Cliente
	{% elseif object.typeSale == 'A' %}
		Auspicio
	{% endif %}
{% endblock %}