{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bootsatrap-table/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock head_style %}


{% block headline %}Listado de Productos{% endblock headline %}


{% block content_content %}

    <table class="table table-bordered table-striped" data-toggle="table"
           data-search="true"
           data-pagination="true">
        <thead>
            <tr>
                <th>N°</th>
                <th data-field="Denominación" data-sortable="true">Denominación</th>
                <th data-field="Código de Barras" data-sortable="true">Código de Barras</th>
                <th data-field="Descripción" data-sortable="true">Descripción</th>
                <th data-field="Existencia" data-sortable="true">Existencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product.denomination }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('product_show', { 'id': product.id }) }}"> <i class="fa fa-eye"></i> Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content_content %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/locale/bootstrap-table-es-SP.min.js') }}"></script>

{% endblock foot_script %}