{% extends 'base.html.twig' %}

{% block headline %}Producto{% endblock headline %}


{% block content_content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ product.denomination }}</h3>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Código de Barras</div>
                    <div class="col-md-9">{{ product.barcode }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Descripción</div>
                    <div class="col-md-9">{{ product.description }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Existencia</div>
                    <div class="col-md-9">{{ product.stock }}</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="well well-small form-actions">
        <a class="btn btn-default btn-sm" href="{{ path('product_index') }}"> <i class="fa fa-list"></i> Regresar al listado de Productos</a>
    </div>

{% endblock content_content %}
