{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bootsatrap-table/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock head_style %}


{% block headline %}Listado de Entregas{% endblock headline %}


{% block content_content %}

    <table class="table table-bordered table-striped" data-toggle="table"
           data-search="true"
           data-pagination="true">
        <thead>
            <tr>
                <th>N°</th>
                <th data-field="sale" data-sortable="true">N° de factura</th>
                <th data-field="courier" data-sortable="true">Repartidor</th>
                <th data-field="shipping" data-sortable="true">Monto del envio</th>
                <th data-field="payment" data-sortable="true">Monto del pago</th>
                <th data-field="turned" data-sortable="true">Vuelto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ delivery.sale }}</td>
                <td>{{ delivery.courier }}</td>
                <td>{{ delivery.shipping }}</td>
                <td>{{ delivery.payment }}</td>
                <td>{{ delivery.turned }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('delivery_show', { 'id': delivery.id }) }}"> <i class="fa fa-eye"></i> Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content_content %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/locale/bootstrap-table-es-SP.min.js') }}"></script>

{% endblock foot_script %}
