{% extends 'base.html.twig' %}


{% block headline %}Nueva Entrega{% endblock headline %}



{% block content_content %}

    {{ form_start(form) }}
    <div class="box box-primary bottom-container" >
        <div class="form-conteiner">
            <div class="form-goup">
                {{ form_row(form.sale) }}
            </div>
            <div class="form-goup">
                {{ form_row(form.courier) }}
            </div>
            <div class="row">
                <div class="form-goup col-md-6">
                    {{ form_row(form.shipping) }}
                </div>
                <div class="form-goup col-md-6">
                    {{ form_row(form.payment) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button id="vuelto" type="button" class="btn btn-info"><i class="fa fa-money" aria-hidden="true"></i> Calcular Vuelto</button>
                </div>
                <div class="form-goup col-md-6">
                    {{ form_row(form.turned) }}
                </div>
            </div>


        </div>
    </div>


    <div class="well well-small form-actions">
        <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
    </div>
    {{ form_end(form) }}

{% endblock content_content %}

{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/delivery.js') }}"></script>

{% endblock foot_script %}
