{% extends 'base.html.twig' %}

{% block headline %}Entregas{% endblock headline %}

{% block content_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ delivery.sale }}</h3>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">Repartidor</div>
                <div class="col-md-9">{{ delivery.courier }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">Monto del envio</div>
                <div class="col-md-9">{{ delivery.shipping }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">Monto del Pago</div>
                <div class="col-md-9">{{ delivery.payment }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">Vuelto</div>
                <div class="col-md-9">{{ delivery.turned }}</div>
            </div>
        </li>

    </ul>
</div>

<div class="well well-small form-actions">
    <a class="btn btn-default btn-sm" href="{{ path('delivery_index') }}"> <i class="fa fa-list"></i> Regresar al listado de Entregas</a>
</div>
{% endblock content_content %}