{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bootsatrap-table/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock head_style %}


{% block headline %}Listado de Clientes{% endblock headline %}


{% block content_content %}

    <table class="table table-bordered table-striped" data-toggle="table"
           data-search="true"
           data-pagination="true">
        <thead>
            <tr>
                <th>N°</th>
                <th data-field="Nombres" data-sortable="true">Nombres</th>
                <th data-field="Apelllidos" data-sortable="true">Apellidos</th>

                <th data-field="Correo Electronico" data-sortable="true">Correo Eñectronico</th>
                <th data-field="Teléfono" data-sortable="true">Teléfono</th>
                <th data-field="Celular" data-sortable="true">Celular</th>
                <th data-field="enfermedad" data-sortable="true">Enfermedad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.cellPhone }}</td>
                <td>{{ client.disease }}</td>
                <td>
                   <a class="btn btn-default btn-sm" href="{{ path('client_show', { 'id': client.id }) }}"> <i class="fa fa-eye"></i> Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content_content %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/locale/bootstrap-table-es-SP.min.js') }}"></script>

{% endblock foot_script %}