{% extends 'base.html.twig' %}

{% block headline %}Cliente{% endblock headline %}


{% block content_content %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ client.lastName }}, {{ client.name }}</h3>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Tipo de Cliente</div>
                    <div class="col-md-9">{{ client.type }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Fecha de Cumpleaños</div>
                    <div class="col-md-9">{% if client.birthdate %}{{ client.birthdate|date('d-m-Y') }}{% endif %}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Dirección</div>
                    <div class="col-md-9">{{ client.address }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Teléfono</div>
                    <div class="col-md-9">{{ client.phone }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Celular</div>
                    <div class="col-md-9">{{ client.cellPhone }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Método de Pago</div>
                    <div class="col-md-9">{{ client.paymentMethod }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Enfremedad</div>
                    <div class="col-md-9">{{ client.disease }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Tratamiento</div>
                    <div class="col-md-9">{{ client.treatment }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Nota</div>
                    <div class="col-md-9">{{ client.note }}</div>
                </div>
            </li>

        </ul>
    </div>

    <div class="well well-small form-actions">
        <a class="btn btn-default btn-sm" href="{{ path('client_index') }}"> <i class="fa fa-list"></i> Regresar al listado de Clientes</a>
    </div>
{% endblock content_content %}
